<%= stylesheet_link_tag "new" %>

<div class="new-todo-page">

  <h1>Editar Lista</h1>

  <div class="form-container">
    <%= render "form", todo: @todo %>
  </div>

  <br>

  <div class="back-link">
    <%= link_to "Ver Lista", @todo, class: "btn-back"  %> |
    <%= link_to "Voltar", todos_path, class: "btn-back" %>
  </div>

</div>

