#btn-back {
    background-color: #95a5a6;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
  }
  
#btn-back:hover {
    background-color: #7f8c8d;
  }
  